@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap") */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(2);
    color: rgb(7, 197, 55);
    /* font-weight: bold; */
  }
  100% {
    transform: scale(1);
    color: black;
  }
}
@keyframes scaleAnimation2 {
  0% {
    transform: scale(1);
    /* color: black; */
  }
  50% {
    transform: scale(2);
    color: rgb(253, 44, 8);
    /* font-weight: bold; */
  }
  100% {
    transform: scale(1);
    /* color: black; */
  }
}

.pulse {
  animation: scaleAnimation 0.5s;
}
.pulse2 {
  animation: scaleAnimation2 0.5s;
}

.act-shadow {
  -webkit-box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.192);
  -moz-box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.158);
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.301);
}

.shadow-desktop:hover {
  -webkit-box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.253);
  -moz-box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.445);
}
.testing {
  animation: slideInDown 0.4s ease-out;
}
.toast-welcome {
  animation: slideInUp 0.4s ease-out;
}

@keyframes slideInDown {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* global-styles.css */

/* Set custom scrollbar styles for all pages */
* {
  scrollbar-width: thin;
  scrollbar-color: #606060 #f0f0f0; /* thumb color and track color */
}

*::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-thumb {
  background-color: #606060; /* thumb color */
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* track color */
}
.breadcrumb {
  /*centering*/
  width: 100%;
  text-align: center;
  /* display: inline-block; */
  /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); */
  overflow: hidden;
  margin: 0;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  /* counter-reset: flag; */
}

.breadcrumb a {
  width: 33.33%;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  /* font-size: 12px; */
  line-height: 35px;
  /* color: white; */
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 50px 0 28px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 20px;
  /* border-radius: 5px 0 0 5px; */
  /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  /* border-radius: 0 5px 5px 0; */
  /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 36px;
  height: 35px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);

  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgb(255, 255, 255),
    3px -3px 0 2px rgba(247, 244, 244, 0.1);
  /*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}
/*we will use the :before element to show numbers*/
/* thsi changes inactive colors */
.flat a,
.flat a:after {
  background: rgba(160, 156, 156, 0.274);
  color: rgba(0, 0, 0, 0.26);
  transition: all 0.5s;
}

.flat a:before {
  background: rgb(112, 103, 103);
  box-shadow: 0 0 0 1px #ccc;
}
/* .flat a:hover, */
.flat a.active,
.flat a.active:after {
  background: #ffffff;
  color: rgb(11, 103, 224);
}
/* .flat a {
  background: rgba(100, 90, 90, 0.322);
  color: #8f898942;
} */

.flat a::after {
  /* background: green; */
  background: rgba(160, 156, 156, 0);
}
@keyframes splash {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}

.splash-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.splash {
  animation: splash 2.5s infinite;
  opacity: 0;
}

/* big number animation */
.table-row {
  /* @apply border-2 border-black; */
  border: 1px solid #000;
  width: 20%;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */
.euro-btn {
  @apply transition-all cursor-pointer bg-blue-500 text-white p-3 capitalize font-semibold hover:text-blue-500 hover:bg-white hover:border-blue-500 border rounded-lg;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.4s linear both;
}
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.tracking-in-expand {
  animation: tracking-in-expand 0.4s linear both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    z-index: -10;
  }
  50% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.fade-in-out {
  /* opacity: 0;

  z-index: -10; */
  animation: fadeInOut 2.5s ease-out;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scaling-element {
  animation: scaleAnimation 1.3s infinite;
}

/* #html5-qrcode-button-camera-stop {
  visibility: hidden;
  display: none;
} */

.bg-blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
/* change camera button position */

#container-circles {
  bottom: 280px !important;
}
.react-html5-camera-photo {
  /* width: 100% !important; */
  /* height: 200px !important; */
}
.react-html5-camera-photo > video {
  height: 100% !important;
}
.react-html5-camera-photo > img {
  /* height: 1000px !important; */
}

#zr_0 {
  height: 10px !important;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.fadeInScale {
  animation: fadeInScale 0.3s ease-out forwards;
}
.fadeOutScale {
  animation: fadeOutScale 0.3s ease-out forwards;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  animation: heartbeat 3.5s infinite;
}

button.html5-qrcode-element {
  color: "red";
  border: "1px solid red";
  background-color: #3b82f6;
  padding: 10px;
  color: white;
  border-radius: 10px;
  /* margin-top: 100px; */
}
span.html5-qrcode-element {
  /* background-color: red;
  text-decoration: none !important; */
  display: none !important;
}

#html5-qrcode-button-camera-start::after {
  content: "Comenzar a escanear";
  font-size: initial;
}
#html5-qrcode-button-camera-stop::after {
  content: "Detener";
  font-size: initial;
}
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
  font-size: 0;
}
